@property --success-message {
    syntax: "<color>";
    inherits: false;
    initial-value: pink;
}

:root {
    --error-message: red;
}

body p{
    --error2: purple;
    color: var(--error2);
}

p {
    color: var(--success-message);
}

div {
    width: 100px;
    height: 100px;
    background-color: var(--error-message2, orange);
}