

label span {
    display: inline-block;
    font-size: 25px;
    width: 2em;
    height: 0.90em;
    background-color: black;
    outline: .08em solid gray;
    border-radius: .64em;
    position: relative;
}

input[type="checkbox"]:checked + span::before {
    content: '';
    display: block;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    position: absolute;
    top: 1px;
    right: 15px;
    bottom: 1px;
    left: 15px;
}
